<div class="alert well fade in" id="gal-issue" role="alert">
    <!-- TODO 添加关闭公告框功能 -->
    <button type="button" class="close" data-dismiss="alert">×</button>
    <!-- 这里自行配置公告内容 -->
    我们的各种客户都很聪明的 snoopin 周围。但每个人，我的意思是在星期五晚上进来的人都有一个原因 -- 油炸小龙虾刺身
    <!-- 自行配置公告内容结束 -->
</div>